form{
top: 70%;
left: 50%;
position: absolute;
translate:-50% -50%;
border: 1px solid black;
padding: 3rem;
margin-top:70px;
width:30%;
background-color: #779dee;
box-shadow:5px 5px 20px 1px rgb(85,85, 85);
border-radius:10px 10px 10px;
color:white;
height:540px ;
width:60%;
}
button{
cursor:pointer;
}
img{
width:200px;
position: left;
}

.logo{
	float:left;
}

.inputbasic{
	border:1px solide grey;
	border-radius:1px;
	padding:3px;
	font-style:italic;
	

}
.inputbasic:hover{
	background-color:#779DEE;
	color:white;
}
.form_demo{
 border-radius:1px;
 border:1px solide black;
 padding:2px;
 font-style:italic;
}
.form_demo input[type=submit]:hover{
	background-color:darkblue;
	color:black;
	border-radius:150px;
}
.html{
	height:150px;
	width:60%;
	position:center;
}

img{
	text-align:center;

}

table {
float:right;
}
